.MainConatiner{
    background-color: rgb(0, 0, 0);
    height: 20cm;
    color: ghostwhite;
    font-size: 0.6cm;
}
#button{
    color: white;
    background-color: black;
    margin-left: 0.5cm;
    cursor: pointer;
}
#cell1{
    background-color: blue;
    color: white;
    width: 2cm;
    height: 2cm;
    text-align: center;
    border: 3px solid red;
    
}
#cell2{
    background-color: blue;
    border: 3px solid red;
    color: white;
    width: 2cm;
    text-align: center;
}
#cell3{
    background-color: blue;
    color: white;
    width: 2cm;
    text-align: center;
    border: 3px solid red;
}
.cell4{
    background-color: blue;
    color: white;
    width: 2cm;
    text-align: center;
    border: 3px solid red;
}

.cell5{
    background-color: blue;
    color: white;
    width: 2cm;
    text-align: center;
    border: 3px solid red;
}
.cell6{
    background-color: blue;
    color: white;
    width: 2cm;
    text-align: center;
    border: 3px solid red;
}

.cell7{
    background-color: blue;
    color: white;
    width: 2cm;
    text-align: center;
    border: 3px solid red;
}

.cell9{
    background-color: blue;
    color: white;
    width: 2cm;
    text-align: center;
    border: 3px solid red;
}

.cell8{
    background-color: blue;
    color: white;
    width: 2cm;
    text-align: center;
    border: 3px solid red;
}
.topNav{
    margin-left: 5cm;
    display: flex;
    height: 10vh;
    width: 90cm;
}
.secondNav{
    margin-left: 5cm;
    display: flex;
    height: 10vh;
    width: 90cm;
}
.lastNav{
    margin-left: 5cm;
    display: flex;
    height: 10vh;
    width: 90cm;
}
.board{
    height: 8cm;
    width: 100cm;
}