.mainContainer{
    width: 100%;
    height: 100vh;
}  

.logo{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(255, 0, 0), 0 0 25px rgb(0, 110, 255), 0 0 5px darkblue;
    font-size: 25px;
    font-weight: 700; 
    font-style: italic;
    margin-left: 1cm;
    display: flex;
    
}

.topNav nav{
    padding-top: 2%;
    justify-content: end; 
    padding-left: 50%;
    display: flex;
    padding-left: 45%;
}

.topNav {
    display: flex;
    width: 100%;
    vertical-align: text-top;
}

.p_tag{
    width: 10%;
    text-align: start;
}


.getDemo{
    border: 3px solid #002ae6;
    color: blue;
    font-size: 14px;
    height: 90%;
    text-align: center;
    padding: 0% 2%;
    height: 55px;
    width:100px;
    font-weight: 500;
    margin-bottom: 4px;
}

.topNav nav li{
    list-style: none;
    padding: 1% 2%;

}
.topNav nav li a{ 
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0);         
}

.login{
    display: flex;
    text-align: center;
    padding: 0% 4%;
    justify-content: space-between;
    width: 8%;
    font-weight: 700;
    margin-bottom: 5px;
}
.slanted-bg {
    background-color: rgb(0, 168, 219);
    width: 97%;
    height: 65%;
    padding: 5% 2%;           
}

.Text{
text-align: center;
color: rgb(255, 255, 255);
font-style: italic;

}

.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
} 


.secondContainer{
   background-color: rgb(197, 245, 229);
   height: 15cm;
}


.picture{
   display: flex;
}

.secondPic{
    padding-left: 30%;
    padding-top: 0%;
}

.firstPic{
    padding-top: 6%;
    padding-right: 0%;
}

.textBox{
    background-color: #002ae6;
    height: 40vh; 
    width: 60%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.sellBox{
   font-size: 30px;
   padding-top: 4cm;
}

.box{
    padding-top: 2cm;
}

.thirdContainer{
    display: flex;
    width: 100%;
}

.programBox{
    padding-top:  5cm;
    padding-left: 6cm;
}

.man{
    padding-top: 3cm;
    padding-left: 3cm;
}

.Men{
    padding-top: 1cm;
    padding-left: 5cm;
}

@keyframes move-programBox {
    from { transform: translateX(0); }
    to { transform: translateX(50px); }
  }
  
  @keyframes move-man {
    from { transform: translateY(0); }
    to { transform: translateY(50px); }
  }
  
  
  .programBox img {
    animation: move-programBox 2s infinite alternate;
  }
  
  .man img {
    animation: move-man 2s infinite alternate;
  }
  

.fourthContainer{
    display: flex;
    width: 100%;
}

.vendor{
    padding-top: 1cm;
    padding-left: 5cm;
}

.salesMan{
    padding-top: 2cm;
    padding-left: 6cm;
}
.fifthContainer{
    display: flex;
}

.rocketMan{
    padding-left: 6cm;
    padding-top: 2cm;
}

.board{
    padding-left: 6cm;
    padding-top: 2cm;
}
.sixthContainer{
    display: flex;
}
.track{
    padding-top: 2cm;
    padding-left: 7cm;
}
.seventhContainer{
    display: flex;
}
.playBook{
    padding-left: 6cm;
    padding-top: 2cm;
}

.xO{
    padding-left: 3cm;
    padding-top: 1cm;
}
.crystal{
    padding-left: 2cm;
    padding-bottom: 5cm;
}

.crystal2{
    padding-left: 30cm;
    padding-bottom: 40cm;
}
.myNav a {
    color: white;
 }

 nav {
    padding-left: 3cm;
 }
 
 nav a {
    display: inline-block;
    color: white;
    padding-right: 20px;
    margin-right: 30px;
    text-decoration: none;
 }
 
 nav a:last-child {
    margin-right: 0;
 }
 .lastContainer{
    width: 99%;
 }